/* border-bottom at .full-name class */
@keyframes borderAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.full-name {
  position: relative;
  overflow: hidden;
  font-size: 3.6rem;
}

.full-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: yellow;
  animation: borderAnimation 2s ease forwards;
}
