/* Animations */

/* border-bottom animation for .full-name class */
@keyframes borderAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.full-name {
  position: relative;
  overflow: hidden;
  font-size: 3.6rem;
}

.full-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(179, 19, 18);
  animation: borderAnimation 2s ease-in-out forwards;
}

/* Menu Fading animation */
.menu {
  transition: max-height 1s ease, opacity 0.8s ease-in-out;
}

.menu.fade-in {
  opacity: 1;
  max-height: 400px;
}

.menu.fade-out {
  opacity: 0;
  max-height: 0;
}

/* Form Buttons Animation */

.send,
.clear {
  transition: all 1s ease;
}
