/* Footer */

footer {
  display: flex;
  flex-grow: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(43, 42, 76);
  color: rgb(238, 226, 222);
  gap: 1rem;
  padding: 2rem 0;
}
