/* Main */

/* Hero Section */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/mohammad-rahmani-yRsBZJuhbkk-unsplash-alt.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  padding: 1rem 0 1rem;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 45%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  gap: 30px;
  color: white;
}

.hello-wrapper {
  display: flex;
  gap: 2px;
  color: rgb(143, 144, 153);
  font-style: italic;
}

.hello-world {
  margin: 0 5px;
  font-family: "Spline Sans Mono", monospace;
  font-weight: bold;
  font-style: normal;
  color: white;
}

.name {
  color: white;
}

.full-name {
  color: rgb(234, 144, 108);
}

.presentation {
  color: rgb(223, 224, 233);
}

.arrow-down {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: block;
  color: white;
  text-decoration: none;
}

.arrow-down svg {
  display: block;
  margin: 0 auto;
}

/* Education Section */

.education {
  width: auto;
  height: 200px;
}

/* Projects Section */

.projects {
  width: auto;
  height: 200px;
}
