.hero {
  background-image: url("../images/mohammad-rahmani-yRsBZJuhbkk-unsplash-alt.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  padding: 0 1rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  gap: 5px;
  color: white;
}

.hello-wrapper {
  display: flex;
  gap: 2px;
  color: rgb(143, 144, 153);
}

.hello-world {
  font-family: "Spline Sans Mono", monospace;
  color: white;
}

.presentation {
  color: rgb(223, 224, 233);
}
