/* Main */

/* Hero Section */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/mohammad-rahmani-yRsBZJuhbkk-unsplash-alt.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  padding: 1rem 0 1rem;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 45%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  gap: 30px;
  color: white;
}

.hello-wrapper {
  display: flex;
  gap: 2px;
  color: rgb(143, 144, 153);
  font-style: italic;
}

.hello-world {
  margin: 0 5px;
  font-family: "Spline Sans Mono", monospace;
  font-weight: bold;
  font-style: normal;
  color: white;
}

.name {
  color: white;
}

.full-name {
  color: rgb(238, 110, 59);
}

.presentation {
  color: rgb(223, 224, 233);
}

.arrow-down {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: block;
  color: white;
  text-decoration: none;
}

.arrow-down svg {
  display: block;
  margin: 0 auto;
}

/* Education and Education Section */

.education,
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  padding: 0 1rem;
  gap: 2rem;
}

.section-title-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.section-title {
  color: rgb(238, 110, 59);
  border-bottom: 2px solid rgb(179, 19, 18);
  font-family: "Work Sans", sans-serif;
  font-size: 3.6rem;
}

.education-article,
.project-article {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px dotted rgb(234, 144, 108);
}

.education-article:last-child,
.project-article:last-child {
  border-bottom: unset;
}

.education-name-wrapper,
.project-name-wrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.education-icon,
.project-icon {
  width: 44px;
  height: 44px;
}

.education-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.period {
  font-size: 1.2rem;
  font-weight: lighter;
  color: rgb(179, 19, 18);
}

.attending {
  font-size: 1.4rem;
  font-weight: normal;
  font-style: italic;
}

.education-skills {
  font-size: 1.4rem;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;
}

.skill-list li {
  display: flex;
  font-size: 1.4rem;
  white-space: nowrap;
  color: rgb(51, 102, 153);
  border: 1px solid rgb(51, 102, 153);
  padding: 0.5rem;
  border-radius: 5px;
}

.skill-list li:hover {
  background-color: rgb(51, 102, 153);
  color: white;
}

.project-img {
  width: 100%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.project-references {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
